<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Contact number1:</strong>
  <%= @customer.contact_number1 %>
</p>

<p>
  <strong>Contact number2:</strong>
  <%= @customer.contact_number2 %>
</p>

<p>
  <strong>Contact number3:</strong>
  <%= @customer.contact_number3 %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @customer.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @customer.address2 %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
