<div class="row dashbord-grid">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Top 5 Customer by pending amout</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Customer name</th>
              <th scope="col">contact number</th>
              <th scope="col" class="number_field">Pending amount</th>
            </tr>
          </thead>
          <tbody>
            <% @top_pending_customer.each do |pending_customer| %>
              <tr>
                <td><%= pending_customer[:customer_name] %></td>
                <td><%= pending_customer[:customer_number] %></td>
                <td class="number_field">₹ <%= pending_customer[:amout_to_pay] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Top 5 Suppliers by amount to pay</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Supplier name</th>
              <th scope="col">contact number</th>
              <th scope="col" class="number_field">Pending amout</th>
            </tr>
          </thead>
          <tbody>
            <% @top_pending_supplier.each do |pending_supplier| %>
              <tr>
                <td><%= pending_supplier[:supplier_name] %></td>
                <td><%= pending_supplier[:supplier_number] %></td>
                <td class="number_field">₹ <%= pending_supplier[:amout_to_pay] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row dashbord-grid">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Top 10 Most selling items</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Item Code</th>
              <th scope="col">Item Name</th>
              <th scope="col" class="number_field">Total qty sell</th>
            </tr>
          </thead>
          <tbody>
            <% @top_selling_items.each do |selling_item| %>
              <tr>
                <td><%= selling_item["code"] %></td>
                <td><%= selling_item["name"] %></td>
                <td class="number_field"><%= selling_item["total_quantity"] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">This week expiry items (<%= "#{display_date(DateTime.now.beginning_of_week)} - #{display_date(DateTime.now.end_of_week)}" %>)</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush" id="expiryItems">
          <thead class="thead-light">
            <tr>
              <th scope="col">Item Code</th>
              <th scope="col">Item Name</th>
              <th scope="col">Batch Number</th>
              <th scope="col">Brand</th>
              <th scope="col">Qty</th>
              <th scope="col" class="number_field">Expiry Date</th>
            </tr>
          </thead>
          <tbody>
            <% @expiry_items.each do |expiry_item| %>
              <tr>
                <td><%= expiry_item.item.code %></td>
                <td><%= expiry_item.item.name %></td>
                <td><%= expiry_item.batch_number %></td>
                <td><%= expiry_item.item.brand_name %></td>
                <td><%= expiry_item.qty_left %></td>
                <td class="number_field"><%= display_date(expiry_item.expiry_date) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>