<div class="limiter">
  <div class="container-login100" style="background-image: url('<%= image_path("bg-03.jpg") %>')">
    <div class="wrap-login100">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "login100-form validate-form") do |f| %>
        <span class="login100-form-logo">
          <i class="zmdi zmdi-account-o"></i>
        </span>

        <span class="login100-form-title p-b-34 p-t-27">
          Log in
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Enter username">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input100" %>
          <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input100" %>
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>

        <div class="contact100-form-checkbox">
          <%= f.check_box :remember_me, class: "input-checkbox100", id: "ckb1"  %>
          <label class="label-checkbox100" for="ckb1">
            Remember me
          </label>
        </div>

        <div class="container-login100-form-btn">
          <%= f.button "Login", type: "submit", class: "login100-form-btn" do %>
            Login 
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    login();
  })
</script>
