<hr class="my-3" />
<div class="pl-lg-2">
  <h5 class="heading text-muted"><i class="fa fa-file-excel-o" aria-hidden="true"></i> <%= title %></h5>
  <%= link_to download_excel_items_path(excel_name: "#{params[:controller].downcase}.xlsx"), class: "dwnld_optn", target: '_blank' do %><i class="fa fa-download" aria-hidden="true"></i>Download simple file <% end %>
</div>
<%= form_tag form_action, multipart: true do %>
  <div class="pl-lg-4">
    <div class="row">
      <div class="form-group">
        <%= file_field_tag :file, class: "form-control-file" %>
        <div class="text-left">
          <%= button_tag type: "submit", class: "btn btn-info mt-4" do %><i class="fa fa-upload"></i> Import<% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>